@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appearSide {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.bl {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.block2 {
  animation: appearSide linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  background-color: rgba(15, 21, 46);
  /* background-image: url('https://img.freepik.com/vetores-gratis/modelo-de-banner-do-blog-memphis-azul-escuro_53876-98946.jpg'); */
}